<?xml version="1.0"?>
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="false" targetFramework="4.8"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="1" stopProcessing="true">
					<match ignoreCase="true" url="^UsefulInfo\.html$" />
					<action type="Redirect" url="blog/اطلاعات-مفید-باتری.html" redirectType="Permanent" />
				</rule>
				<rule name="2" stopProcessing="true">
					<match ignoreCase="true" url="^Maintenance\.html$" />
					<action type="Redirect" url="blog/مراقبت-از-باتری-ماشین.html" redirectType="Permanent" />
				</rule>
				<rule name="42" stopProcessing="true">
					<match ignoreCase="true" url="^Recharge\.html$" />
					<action type="Redirect" url="blog/شارژ-باتری-ماشین.html" redirectType="Permanent" />
				</rule>
				<rule name="43" stopProcessing="true">
					<match ignoreCase="true" url="^SuitableBattery\.html$" />
					<action type="Redirect" url="blog/مراقبت-از-باتری-ماشین.html" redirectType="Permanent" />
				</rule>
				<rule name="44" stopProcessing="true">
					<match ignoreCase="true" url="^BatteryFaults\.html$" />
					<action type="Redirect" url="انتخاب-باتری-ماشین.html" redirectType="Permanent" />
				</rule>

				<rule name="3" stopProcessing="true">
					<match ignoreCase="true" url="^cars/baic\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-بایک.html" redirectType="Permanent" />
				</rule>
				<rule name="4" stopProcessing="true">
					<match ignoreCase="true" url="^cars/benz\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-بنز.html" redirectType="Permanent" />
				</rule>
				<rule name="5" stopProcessing="true">
					<match ignoreCase="true" url="^cars/bestern\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-بسترن.html" redirectType="Permanent" />
				</rule>
				<rule name="6" stopProcessing="true">
					<match ignoreCase="true" url="^cars/bmw\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-بی ام و.html" redirectType="Permanent" />
				</rule>
				<rule name="7" stopProcessing="true">
					<match ignoreCase="true" url="^cars/brilliance\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-برلیانس.html" redirectType="Permanent" />
				</rule>
				<rule name="8" stopProcessing="true">
					<match ignoreCase="true" url="^cars/byd\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-بی وای دی.html" redirectType="Permanent" />
				</rule>
				<rule name="9" stopProcessing="true">
					<match ignoreCase="true" url="^cars/changan\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-چانگان.html" redirectType="Permanent" />
				</rule>
				<rule name="10" stopProcessing="true">
					<match ignoreCase="true" url="^cars/chery\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-چری.html" redirectType="Permanent" />
				</rule>
				<rule name="11" stopProcessing="true">
					<match ignoreCase="true" url="^cars/citroen\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-سیتروئن.html" redirectType="Permanent" />
				</rule>
				<rule name="12" stopProcessing="true">
					<match ignoreCase="true" url="^cars/daewoo\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-دوو.html" redirectType="Permanent" />
				</rule>
				<rule name="13" stopProcessing="true">
					<match ignoreCase="true" url="^cars/dongfeng\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-دانگ فنگ.html" redirectType="Permanent" />
				</rule>
				<rule name="14" stopProcessing="true">
					<match ignoreCase="true" url="^cars/fiat\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-فیات.html" redirectType="Permanent" />
				</rule>
				<rule name="15" stopProcessing="true">
					<match ignoreCase="true" url="^cars/geely\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-جیلی.html" redirectType="Permanent" />
				</rule>
				<rule name="16" stopProcessing="true">
					<match ignoreCase="true" url="^cars/greatwall\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-گریت وال.html" redirectType="Permanent" />
				</rule>
				<rule name="17" stopProcessing="true">
					<match ignoreCase="true" url="^cars/haima\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-هایما.html" redirectType="Permanent" />
				</rule>
				<rule name="18" stopProcessing="true">
					<match ignoreCase="true" url="^cars/hyundai\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-هیوندا.html" redirectType="Permanent" />
				</rule>
				<rule name="19" stopProcessing="true">
					<match ignoreCase="true" url="^cars/irankhodro\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-ایران خودرو.html" redirectType="Permanent" />
				</rule>
				<rule name="20" stopProcessing="true">
					<match ignoreCase="true" url="^cars/jac\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-جک.html" redirectType="Permanent" />
				</rule>
				<rule name="21" stopProcessing="true">
					<match ignoreCase="true" url="^cars/kia\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-کیا.html" redirectType="Permanent" />
				</rule>
				<rule name="22" stopProcessing="true">
					<match ignoreCase="true" url="^cars/lexus\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-لکسوس.html" redirectType="Permanent" />
				</rule>
				<rule name="23" stopProcessing="true">
					<match ignoreCase="true" url="^cars/lifan\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-لیفان.html" redirectType="Permanent" />
				</rule>
				<rule name="24" stopProcessing="true">
					<match ignoreCase="true" url="^cars/mazda\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-مزدا.html" redirectType="Permanent" />
				</rule>
				<rule name="25" stopProcessing="true">
					<match ignoreCase="true" url="^cars/mg\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-ام جی.html" redirectType="Permanent" />
				</rule>
				<rule name="26" stopProcessing="true">
					<match ignoreCase="true" url="^cars/mitsobishi\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-میتسوبیشی.html" redirectType="Permanent" />
				</rule>
				<rule name="27" stopProcessing="true">
					<match ignoreCase="true" url="^cars/mvm\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-ام وی ام.html" redirectType="Permanent" />
				</rule>
				<rule name="28" stopProcessing="true">
					<match ignoreCase="true" url="^cars/nissan\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-نیسان.html" redirectType="Permanent" />
				</rule>
				<rule name="29" stopProcessing="true">
					<match ignoreCase="true" url="^cars/opel\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-اپل.html" redirectType="Permanent" />
				</rule>
				<rule name="30" stopProcessing="true">
					<match ignoreCase="true" url="^cars/parskhodro\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-پارس خودرو.html" redirectType="Permanent" />
				</rule>
				<rule name="31" stopProcessing="true">
					<match ignoreCase="true" url="^cars/pegeout\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-پژو.html" redirectType="Permanent" />
				</rule>
				<rule name="32" stopProcessing="true">
					<match ignoreCase="true" url="^cars/pride\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-پراید.html" redirectType="Permanent" />
				</rule>
				<rule name="33" stopProcessing="true">
					<match ignoreCase="true" url="^cars/proton\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-پروتون.html" redirectType="Permanent" />
				</rule>
				<rule name="34" stopProcessing="true">
					<match ignoreCase="true" url="^cars/renault\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-رنو.html" redirectType="Permanent" />
				</rule>
				<rule name="35" stopProcessing="true">
					<match ignoreCase="true" url="^cars/saipa\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-سایپا.html" redirectType="Permanent" />
				</rule>
				<rule name="36" stopProcessing="true">
					<match ignoreCase="true" url="^cars/samand\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-سمند.html" redirectType="Permanent" />
				</rule>
				<rule name="37" stopProcessing="true">
					<match ignoreCase="true" url="^cars/sangyang\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-سانگ یانگ.html" redirectType="Permanent" />
				</rule>
				<rule name="38" stopProcessing="true">
					<match ignoreCase="true" url="^cars/suzuki\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-سوزوکی.html" redirectType="Permanent" />
				</rule>
				<rule name="39" stopProcessing="true">
					<match ignoreCase="true" url="^cars/toyota\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-تویوتا.html" redirectType="Permanent" />
				</rule>
				<rule name="40" stopProcessing="true">
					<match ignoreCase="true" url="^cars/wolks\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-فولکس.html" redirectType="Permanent" />
				</rule>
				<rule name="41" stopProcessing="true">
					<match ignoreCase="true" url="^cars/Honda\.html$" />
					<action type="Redirect" url="/cars/باتری-مناسب-هوندا.html" redirectType="Permanent" />
				</rule>



				<rule name="45" stopProcessing="true">
					<match ignoreCase="true" url="^aco\.html$" />
					<action type="Redirect" url="قیمت-باتری-آکو.html" redirectType="Permanent" />
				</rule>
				<rule name="46" stopProcessing="true">
					<match ignoreCase="true" url="^aras\.html$" />
					<action type="Redirect" url="قیمت-باتری-ارس.html" redirectType="Permanent" />
				</rule>
				<rule name="47" stopProcessing="true">
					<match ignoreCase="true" url="^azarbattery\.html$" />
					<action type="Redirect" url="قیمت-باتری-آذر.html" redirectType="Permanent" />
				</rule>
				<rule name="48" stopProcessing="true">
					<match ignoreCase="true" url="^borna-battery\.html$" />
					<action type="Redirect" url="قیمت-باتری-برنا.html" redirectType="Permanent" />
				</rule>
				<rule name="49" stopProcessing="true">
					<match ignoreCase="true" url="^delkor\.html$" />
					<action type="Redirect" url="قیمت-باتری-دلکور.html" redirectType="Permanent" />
				</rule>
				<rule name="50" stopProcessing="true">
					<match ignoreCase="true" url="^global\.html$" />
					<action type="Redirect" url="قیمت-باتری-گلوبال.html" redirectType="Permanent" />
				</rule>
				<rule name="51" stopProcessing="true">
					<match ignoreCase="true" url="^niroogostaran\.html$" />
					<action type="Redirect" url="قیمت-باتری-نیروگستران.html" redirectType="Permanent" />
				</rule>
				<rule name="52" stopProcessing="true">
					<match ignoreCase="true" url="^PasargadSanat\.html$" />
					<action type="Redirect" url="قیمت-باتری-پاسارگاد.html" redirectType="Permanent" />
				</rule>
				<rule name="53" stopProcessing="true">
					<match ignoreCase="true" url="^price\.html$" />
					<action type="Redirect" url="قیمت-باتری-ماشین.html" redirectType="Permanent" />
				</rule>
				<rule name="54" stopProcessing="true">
					<match ignoreCase="true" url="^saba\.html$" />
					<action type="Redirect" url="قیمت-باتری-صبا.html" redirectType="Permanent" />
				</rule>
				<rule name="55" stopProcessing="true">
					<match ignoreCase="true" url="^SepahanBattery\.html$" />
					<action type="Redirect" url="قیمت-باتری-سپاهان.html" redirectType="Permanent" />
				</rule>
				<rule name="56" stopProcessing="true">
					<match ignoreCase="true" url="^solit\.html$" />
					<action type="Redirect" url="قیمت-باتری-سولیت.html" redirectType="Permanent" />
				</rule>
				<rule name="57" stopProcessing="true">
					<match ignoreCase="true" url="^ups\.html$" />
					<action type="Redirect" url="قیمت-باتری-یو پی اس.html" redirectType="Permanent" />
				</rule>
				<rule name="58" stopProcessing="true">
					<match ignoreCase="true" url="^Vistabattery\.html$" />
					<action type="Redirect" url="قیمت-باتری-ویستا.html" redirectType="Permanent" />
				</rule>

			</rules>
		</rewrite>
	</system.webServer>
</configuration>
